*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 600;
}

.clearfix:after{
  clear: both;
  display: block;
  content: "";
}

.flex{
  display: flex;
}

li{
  list-style: none;
  font-size: 14px
}

body{
  background-color: #141922;
}

footer{
  height: 80px;
  width: 100%;
  background-color: #282828;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

header{
  height: 100px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.4);
  float: right;
  text-align: right;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  
}

main{
  height: calc(100% - 200px);
  width: 80%;
  float: right;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.sidebar{
  width: 20%;
  height: calc(100% - 80px);
  background-color: black;
  color: #5F5F5F;
  float: left;
  position: fixed;
  top: 0;
  left: 0;

}

/* HEADER */

header a{
  padding: 10px 35px;
  margin-right: 10px;
  border: 2px solid white;
  border-radius: 25px;
  line-height: 80px;
  text-decoration: none;
  color: white;
}

/* SIDEBAR */

.logo, .lista, .utente, .sidebar h3{
  padding: 20px 20px;
}

.playlisttitle{
  padding: 10px 20px;
}

#plus{
  width: 30px;
  height: 30px;
  background-color: #5F5F5F;
  color: #141922;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.sidebar img{
  width: 50%;
  vertical-align: middle;
}

.sidebar ol img{
  width: 11%;
  margin-right: 10px;
}

.sidebar .flex{
  flex-direction: column;
}

.sottologo{
  justify-content: center;
}

.sottologo #active {
  border-left: 3px solid #9DE82E;
}

.sottologo li{
  padding-left: 20px;
  line-height: 2.5;
}

.lista li{
  line-height: 3;
}

.lista h3{
  color: white;
}

.lista{
  overflow-y: scroll;
  padding-bottom: 0px;
}

.utente li{
  padding: 5px 0px;
}

.utente img{
  width: 10%;
  background-color: #7B7D82;
  border-radius: 25px;
}

.utente h4{
  font-size: 18px;
  color: white;
}

.utente hr{
  border-bottom: 1px solid #5F5F5F;
  width: 80%;
  margin: 10px 0;
}

.sidebar li:hover, .sidebar .utente p:hover{
  color: white;
}

/* MAIN - NAV */

main nav{
  width: 100%;
  justify-content: center;
  align-items: center;
}

main nav ol{
  color: #7B7D82;
  text-transform: uppercase;
  text-align: center;
}

main nav li:hover{
  color: white;
}

#attivonav {
  border-bottom: 3px solid #9DE82E;
}

main nav ol li{
  display: inline-block;
  padding: 5px;
}


/* MAIN - CONTENUTO TRACCE */

.card{
  padding: 20px 0px;
  flex-direction: row;
}

.item{
  text-align: center;
  width: calc(100% / 6);
  justify-content: space-between;
}

.card img{
  width: 80%;
}

.titolo h3, 
.item h4{
  color: white;
}

.item p, .titolo p{
  color: #7B7D82;
}

.titolo p{
  padding: 5px 0px;
}

.titolo h3{
  padding-top: 30px;
  font-size: 22px;
  font-weight: 700;
}

.item h4{
  font-size: 18px;
  font-weight: 600;
  padding: 5px 0px;
}


.titolo h3{
  font-size: 30px;
}

.cerchio img{
  border-radius: 100px;
}


/* FOOTER */

footer img{
  max-width: 30%;
  vertical-align: middle;
  margin-right: 8px;
}

footer .left{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.left p{
  font-size: 15px;
  color: #5F5F5F;
}

#play {
  font-size: 30px;
  padding: 10px;
}

#play:hover {
  font-size: 40px;
  padding: 5px;
}

footer .center{
  text-align: center;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .center #durata{
  width: 100%;
  height: 5px;
  background-color: rgb(61, 61, 61);
  border-radius: 25px;
  margin: 0 10px;
}

#tempo, #ambiente{
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  margin-left: 0;
  border-radius: 25px;
  background-color: #C1C1C1;
}

#players{
  justify-content: center;
  align-items: center;
}

#players i{
  margin: 3px 20px;
}

#pulsanti{
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .right{
  justify-content: center;
  align-items: center;
  width: 15%;
}

footer .right ol li{
  align-items: center;
}

footer .right i{
  margin: 3px 10px;
}

footer .right #volume{
  width: 100%;
  height: 5px;
  background-color: rgb(61, 61, 61);
  border-radius: 25px;
}

footer .left i{
  color: #737373;
}

footer .left i:hover{
  color: white;
}

.pulsante{
  display: none;
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50px;
  border: 2px solid white;
  margin-left: 100%;
}


/*RESPONSIVE*/

@media only screen and (max-width: 750px) {

  .card{
    flex-wrap: wrap;
  }

  .item {
    text-align: center;
    width: calc(100% / 4);
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .logo{
    width: 100%;
  }

}


@media only screen and (max-width: 450px) {

  .card{
    flex-wrap: wrap;
  }

  .item {
    text-align: center;
    width: calc(100% / 2);
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .logo, .lista, .utente{
    padding: 10px 5px;
    
  }

  .sidebar img{
    width: 100%;
  }

  .sidebar .sottologo img{
    width: 60%;
  }

  .sidebar .text, h3, .playlisttitle{
    display: none;
  }

  .logo{
    width: 100%;
  }

  .utente{
    align-content: flex-end;
  }
}